body {
    background: none;
    font-family: sans-serif;
}


.card {
    width: 500px;
    background: #fff;
    margin: 16px auto;
    padding: 8px;
}

.title {
    background: #e3f4ff;
    font-size: 25px;
    text-align: center;
    padding: 8px;
    margin: 8px;
}

.kebab {
    background-color: red;
    padding: 8px;
    margin: 8px;
}

.tacos {
    background-color: yellow;
    padding: 8px;
    margin: 8px;
}

.guacamole {
    background-color: green;
    padding: 8px;
    margin: 8px;
}